<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application

            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppInterface"
            tools:targetApi="31">

        <!-- LOGIN (pantalla inicial) -->
        <activity
                android:name=".activitys.activityUsuarios.LoginActivity"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".activitys.activityUsuarios.EditarPerfilActivity"/>

        <!-- Registro -->
        <activity android:name=".activitys.activityUsuarios.RegistroActivity"/>

        <!-- Main -->
        <activity android:name=".activitys.MainActivity"/>

        <!-- ✅ MAIN CLIENTE (CORREGIDO) -->
        <activity android:name=".MainClienteActivity.MainClienteActivity"/>

        <!-- Servicios -->
        <activity android:name=".activitys.ServiciosActivity"/>

        <!-- Contratos -->
        <activity android:name=".activitys.activityContrato.ProductosActivity"/>
        <activity android:name=".activitys.activityContrato.BuscarContratoActivity"/>
        <activity android:name=".activitys.activityContrato.CrearContratoActivity"/>
        <activity android:name=".activitys.activityContrato.ActualizarContratoActivity"/>
        <activity android:name=".activitys.activityContrato.EliminarContratoActivity"/>


    </application>

</manifest>