<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application

            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppInterface"
            tools:targetApi="31">


        <activity
                android:name=".activitys.activityUsuarios.LoginActivity"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".activitys.activityUsuarios.EditarPerfilActivity"/>


        <activity android:name=".activitys.activityUsuarios.RegistroActivity"/>


        <activity android:name=".activitys.MainActivity"/>


        <activity android:name=".MainClienteActivity.MainClienteActivity"/>

        <activity android:name=".activitys.ServiciosActivity"/>


        <activity android:name=".activitys.activityContrato.ProductosActivity"/>
        <activity android:name=".activitys.activityContrato.BuscarContratoActivity"/>
        <activity android:name=".activitys.activityContrato.CrearContratoActivity"/>
        <activity android:name=".activitys.activityContrato.ActualizarContratoActivity"/>
        <activity android:name=".activitys.activityContrato.EliminarContratoActivity"/>
        <activity android:name=".activities.DetallePlanActivity"/>
        <activity android:name=".activities.PagoActivity" />
        <activity android:name=".activities.ContratoActivity"/>
        <activity android:name=".model.DetalleProductoActivity"/>
        <activity android:name=".activitys.CarritoActivity"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">

            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>